@charset "utf-8";

/* round */
.round, .round_T, .round_L, .round_TL{border-top-left-radius:4px;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px}
.round, .round_T, .round_R, .round_TR{border-top-right-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px}
.round, .round_B, .round_L, .round_BL{border-bottom-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px}
.round, .round_B, .round_R, .round_BR{border-bottom-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px}
/* position */
.left{position:relative;float:left;box-sizing:border-box;margin:0;padding:0}
.left:after{content:"";clear:both;display:block}
.right{position:relative;float:right;box-sizing:border-box;margin:0;padding:0}
.right:after{content:"";clear:both;display:block}
/* class */
.inner{position:relative;box-sizing:border-box}
.clear{clear:both;height:0;overflow:hidden}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.secret{position:absolute;display:none;clear:both;width:0;height:0;width:0;top:0;left:0;z-index:0}
.poster{position:relative;overflow:hidden;text-align:center}
.poster img{width:100%;font-size:0}
.inactive,
.inactive *{cursor:no-drop;opacity:0.7;-webkit-filter:grayscale(100%);filter:gray}
/* text */
.text-low{text-transform:lowercase}
.text-cap{text-transform:capitalize}
.text-upp{text-transform:uppercase}
.tt1,
.tt2{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.tt2,
.num{font-family:'Nanum Gothic Coding', monospace;}
/* icon */
.icon{background-position:50%;background-repeat:no-repeat}
/* cursor */
.cursor-none{cursor:no-drop}
.cursor-help{cursor:help}
.cursor-wait{cursor:wait}
.cursor-progress{cursor:progress}
/* shadow */
.shadow_I{background:url('../image/gw.gif') repeat-x top}
.shadow_T{box-shadow:0 -3px 3px 0 rgba(0, 0, 0, 0.03)}
.shadow_B{box-shadow:0 3px 3px 0 rgba(0, 0, 0, 0.05)}
.shadow_O{box-shadow:0 0 3px 3px rgba(0, 0, 0, 0.05)}
/* bg */
.bg-blank{background:url('../image/blank.gif')}
.bg-hidden{position:fixed;width:100%;height:100%;top:0;left:0}
.bg-full{position:fixed;width:100%;height:100%;top:0;left:0}
.bg-gray{-webkit-filter:grayscale(100%);filter:gray}
/* bg > color */
.bg-color-red{background-color:#fff5f5}
.bg-color-green{background-color:#f7ffeb}
.bg-color-blue{background-color:#f1fbff}
.bg-color-yellow{background-color:#fff799}
/* bg > pattern */
.bg-pattern-dotted{background-color:#fff;background-image:radial-gradient(circle, #f5f5f5 20%, transparent 10%), radial-gradient(circle, #f5f5f5 20%, transparent 10%);background-size:10px 10px;background-position:0 0, 0 0}
.bg-pattern-line_W{background:repeating-linear-gradient(0deg, #f5f5f5, #f5f5f5 10px, transparent 0, transparent 20px)}
.bg-pattern-line_H{background:repeating-linear-gradient(90deg, #f5f5f5, #f5f5f5 10px, transparent 0, transparent 20px)}
.bg-pattern-line_L{background:repeating-linear-gradient(-45deg, #f5f5f5, #f5f5f5 10px, transparent 0, transparent 20px)}
.bg-pattern-line_R{background:repeating-linear-gradient(45deg, #f5f5f5, #f5f5f5 10px, transparent 0, transparent 20px)}
/* popuplayer */
.popuplayer{position:absolute;visibility:hidden;left:50%;z-index:100}
.popuplayer a.close{position:absolute;top:0;right:0}
/* menupan */
.menupan ul{list-style:none;vertical-align:top}
.menupan ul ul{display:none;position:absolute;left:0;top:0;z-index:10}
.menupan li{position:relative;vertical-align:inherit}
.menupan li:first-child{margin:0}
.menupan a{display:block}
.menupan button{display:block;width:100%;text-align:left}
/* menupan > li-pan */
.menupan li.li-pan.arrow>button{background-image:url('../image/menupan-arrow.png');background-size:10px auto;background-position:92% 50%;background-repeat:no-repeat}
.menupan li.li-pan.arrow>button:hover,
.menupan li.li-pan.arrow>button.active{background-image:url('../image/menupan-arrow-active.png')}
.menupan li.li-pan.arrow>button ul.pan{display:block}
/* menupan > tp */
.menupan.tp1 li.icon,
.menupan.tp1 li p.icon{background-size:12px auto;background-position:92% 50%;background-repeat:no-repeat}
.menupan.tp1 li p.icon{position:absolute;top:0;right:10px;width:30px;height:100%;filter:invert(70%)}
.menupan.tp1 li span.ex{position:absolute;top:0.8em;right:0.7em;padding:0.1em 0.2em;border:1px solid #ddd;border-radius:0.5em;text-transform:uppercase;font-size:0.8em;color:#a7a7a7;background-color:#fff}
.menupan.tp1 ul.menu li{width:100%;border-bottom:1px solid #eee}
.menupan.tp1 ul.menu li:first-child{border-top:none}
.menupan.tp1 ul.menu li:last-child{border-bottom:none}
.menupan.tp1 ul.menu li.line{box-sizing:border-box;height:4px;border-left:1px solid #eee;border-right:1px solid #eee;background-color:#f5f5f5}
.menupan.tp1 ul.menu li>a,
.menupan.tp1 ul.menu li>button{box-sizing:border-box;padding:12px 5px;background-size:auto 12px;background-position:92% 50%;background-repeat:no-repeat}
.menupan.tp1 ul.menu li .tt1{display:block}
.menupan.tp1 ul.menu li .tt2{display:inline-block;font-family:'Nanum Gothic Coding', monospace;color:#aaa;text-transform:uppercase}
.menupan.tp1 ul.menu li .tt2.right{background-color:#eee}
.menupan.tp1 ul.menu li *.active .tt2.right,
.menupan.tp1 ul.menu li *:hover .tt2.right{background-color:#555;color:#fff}
.menupan.tp1 ul.menu li.inactive{margin-top:0}
.menupan.tp1 ul.menu li.inactive>*{color:#ccc;background-color:#fafafa;background-image:none}
.menupan.tp1 ul.menu li.inactive>*:hover .tt1{color:#bbb}
.menupan.tp1 ul.menu li.inactive>* .tt2{color:#ddd}
.menupan.tp1 ul.menu li.inactive .icon{display:none}
.menupan.tp1 ul.menu li.big-height>a,
.menupan.tp1 ul.menu li.big-height>button{padding:32px 5px 12px 5px;background-position:92% 65%}
.menupan.tp1 ul.menu li.big-height.icon,
.menupan.tp1 ul.menu li.big-height>*>.icon{background-position:93% 0%}
.menupan.tp1 ul.menu li.big-height>*>.bg.font{top:5%}
.menupan.tp1 ul.pan{position:relative;border-top:1px solid #eee}
.menupan.tp1 ul.pan li{float:none;background-color:#f5f5f5}
.menupan.tp1 ul.pan li:hover{background-color:#fefefe}
.menupan.tp1 ul.pan li.line{background-color:#fff;border-left:none;border-right:none}
.menupan.tp1 ul.pan li a,
.menupan.tp1 ul.pan li button{padding:9px 7px}
.menupan.tp1 ul.pan li.point a,
.menupan.tp1 ul.pan li.point button{padding:7px;background-color:#fff6e5;color:#7e6b5a}
.menupan.tp1 ul.pan li.point a:hover,
.menupan.tp1 ul.pan li.point a.active,
.menupan.tp1 ul.pan li.point button:hover,
.menupan.tp1 ul.pan li.point button.active{background-color:#f9edd8}
.menupan.tp1 ul.pan li .active{text-decoration:underline;font-weight:bold}
/* tilepan */
.tilepan>.left{width:calc(100px - 1em);margin:-1em 0 0 0;padding:1em 1em 0 0;border-right:1px solid #ddd}
.tilepan>.left .tt1{margin:0 0 0.2em 0}
.tilepan>.left .tt2{margin:0;letter-spacing:0;font-family:'Nanum Gothic Coding', monospace;color:#aaa}
.tilepan>.right{width:calc(100% - 100px);;margin-bottom:1em;padding-bottom:0.5em;border-bottom:1px dotted #ddd}
.tilepan>.right:last-child{margin:0;padding:0;border:none}
.tilepan>.right p{display:inline-block;width:-webkit-fill-available;margin-top:0.2em;color:#777}
.tilepan>.right p.bg{background-color:#f5f5f5}
.tilepan>.right p.by{font-family:'Nanum Gothic Coding', monospace;text-align:right}
.tilepan nav ul.tile{margin:-5px}
.tilepan nav ul.tile li.line{display:none}
.tilepan nav ul.tile li.icon a,
.tilepan nav ul.tile li.icon button{padding-right:3em}
.tilepan nav ul.tile li.check a.active,
.tilepan nav ul.tile li.check button.active{background-image:url('../image/check.white.png');background-size:14px auto}
.tilepan nav ul.tile li.depth a,
.tilepan nav ul.tile li.depth button{background-color:#f5f5f5}
.tilepan nav ul.tile li.inactive a,
.tilepan nav ul.tile li.inactive button{border-color:#eee !important;background-color:#eee !important;color:#555 !important}
.tilepan nav ul.tile li,
.tilepan nav ul.tile li>a,
.tilepan nav ul.tile li>button{background-repeat:no-repeat;background-position:90% 50%;background-size:auto 14px}
.tilepan nav ul.tile li>a,
.tilepan nav ul.tile li>button{display:block}
/* tilepan > menupan */
.tilepan .menupan ul.tile ul.pan{top:-2px;left:0;padding:1px;border:1px solid #ddd;background-color:#fff}
.tilepan .menupan ul.tile ul.pan>li{display:inline-block;width:100%;margin:0}
.tilepan .menupan ul.tile ul.pan>li:not(:first-child){padding-top:2px}
.tilepan .menupan ul.tile ul.pan>li.line{display:block;width:100%;height:1px;margin:3px 0 5px 0;padding:0;background-color:#eee}
/* tilepan > tp */
.tilepan.tp1 nav ul.tile li>a,
.tilepan.tp1 nav ul.tile li>button{width:100%;box-sizing:border-box;border:1px solid #ddd;color:#333}
.tilepan.tp1 nav ul.tile li>a:hover,
.tilepan.tp1 nav ul.tile li>button:hover{border-color:#cc0000;color:#cc0000}
.tilepan.tp1 nav ul.tile li>a.active,
.tilepan.tp1 nav ul.tile li>button.active{border-color:#cc0000;background-color:#cc0000;color:#fff}
.tilepan.tp1 nav ul.tile li.depth>a,
.tilepan.tp1 nav ul.tile li.depth>button{background-color:#f5f5f5;color:#777}
.tilepan.tp1 nav ul.tile li.depth>a:hover,
.tilepan.tp1 nav ul.tile li.depth>button:hover{border-color:#555;color:#555}
.tilepan.tp1 nav ul.tile li.depth>a.active,
.tilepan.tp1 nav ul.tile li.depth>button.active{border-color:#555;background-color:#555;color:#fff}
.tilepan.tp1 nav ul.tile li.point>a{border-color:lightgray;background-color:whitesmoke;color:dimgray}
.tilepan.tp1 nav ul.tile li.point>a:hover,
.tilepan.tp1 nav ul.tile li.point>a.active{border-color:darkgray;background-color:darkgray;color:#fff}
.tilepan.tp2 nav ul.tile li>a,
.tilepan.tp2 nav ul.tile li>button{background-color:whitesmoke;color:grey}
.tilepan.tp2 nav ul.tile li>a:hover,
.tilepan.tp2 nav ul.tile li>button:hover,
.tilepan.tp2 nav ul.tile li>a.active,
.tilepan.tp2 nav ul.tile li>button.active{background-color:lightgray}
.tilepan.tp2 nav ul.tile li.point>a,
.tilepan.tp2 nav ul.tile li.point>button{background-color:antiquewhite}
.tilepan.tp2 nav ul.tile li.point>a:hover,
.tilepan.tp2 nav ul.tile li.point>button:hover,
.tilepan.tp2 nav ul.tile li.point>a.active,
.tilepan.tp2 nav ul.tile li.point>button.active{background-color:navajowhite}
/* tilepan color > brown */
.tilepan.brown{background-color:#fcfbf8}
.tilepan.brown nav ul.tile li>a{background-color:#fff}
.tilepan.brown nav ul.tile li.point>a{border-color:lightgray;background-color:floralwhite;color:dimgray}
.tilepan.brown nav ul.tile li.point>a:hover,
.tilepan.brown nav ul.tile li.point>a.active{border-color:saddlebrown;background-color:saddlebrown;color:dimgray}
/* tilepan color > gray */
.tilepan.gray{background-color:#fafafa}
.tilepan.gray nav ul.tile li>a{background-color:#fff}
.tilepan.gray nav ul.tile li.point>a{border-color:lightgray;background-color:whitesmoke;color:dimgray}
.tilepan.gray nav ul.tile li.point>a:hover,
.tilepan.gray nav ul.tile li.point>a.active{border-color:darkgray;background-color:darkgray;color:white}
/* widget_document */
.widget_document *{padding:0;margin:0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.widget_document ul li{height:1em}
.widget_document ul li:not(:first-child){margin-top:1em;padding-top:1em;border-top:1px dotted #ccc;float:none}
.widget_document ul li a{display:inline-block}
.widget_document ul li a:not(:first-child){margin-left:1em}
.widget_document ul li a:hover{text-decoration:underline}
.widget_document ul li a.board{width:5em;padding-right:1em;border-right:1px solid #ddd;box-sizing:border-box}
.widget_document ul li a.title{width:calc(100% - 10em)}
.widget_document ul li a.author,
.widget_document ul li span{float:right;margin-left:0.5em;color:#777;text-align:right}
.widget_document ul li span.date{width:3em;font-family:'Nanum Gothic Coding', monospace;}
.widget_document ul li strong{text-transform:capitalize}
/* widget_thumbnail */
.widget_thumbnail *{padding:0;margin:0;font-size:0;line-height:0}
.widget_thumbnail ul{list-style:none}
.widget_thumbnail li{float:left}
/* form login */
.form-login:after{content:'';display:block;clear:both}
.form-login legend{position:absolute;visibility:hidden}
.form-login dt{margin-bottom:3px;color:#777}
.form-login dd{margin-bottom:12px}
.form-login .inputText{width:100%;padding:7px;letter-spacing:0;border:1px solid #ddd;box-sizing:border-box}
.form-login .inputText:focus{background-color:#fbfbfb}
.form-login .inputText.idOff{background:url('../image/form-login-bgLoginText_ID.gif') no-repeat 3% 50%}
.form-login .inputText.passOff{background:url('../image/form-login-bgLoginText_PASS.gif') no-repeat 3% 50%}
.form-login .inputCheck{margin-right:3px;vertical-align:middle}
.form-login .keep{float:left;line-height:normal;white-space:nowrap}
.form-login .loginButton{float:right}
.form-login .loginButton input{padding:5px;background-color:#333;color:#fff;cursor:pointer}
/* form search */
.form-search .inputText,
.form-search .inputSearch{height:36px;line-height:36px;border:none;background-color:transparent}
.form-search .inputText{float:left;width:calc(100% - 40px);padding:0 10px;box-sizing:border-box}
.form-search .inputText::placeholder{font-size:12px;color:#777}
.form-search .inputSearch{float:right;width:40px;color:#aaa}
.form-search .material-symbols-outlined{position:initial;transform:initial;font-size:1.7em;text-align:center}
/* logo */
.logo-type-text{display:flex;flex-direction:column;justify-content:center}
.logo-type-text.center{align-items:center}
.logo-type-text .tt1,
.logo-type-text .tt2{display:block;text-transform:uppercase}
.logo-type-text .tt1{font:600 1.7em/1em Kanit;color:#333}
.logo-type-text .tt2{font:300 1em/1em Kanit;color:#777}
.logo-type-text .tt2 span{color:darkgray}
.logo-type-image{display:table-cell;vertical-align:middle}
/* no_documents */
.no_documents{width:100% !important;padding:50px 0 !important;text-align:center !important}
.no_documents *{text-align:center !important}
.no_documents .btn{margin-top:2em !important}
.no_documents .icon{display:inline;position:initial;font-size:2em}
/* msg */
.msg{display:block;padding:15px 20px;line-height:1.7em;text-align:justify}
.msg.center{text-align:center}
.msg.point{border-color:#f7e890 !important;color:#9e7605 !important;background-color:#fff8c7 !important}
.msg.big{padding:40px 30px}
.msg.big .tt1{display:block;margin:0;font:bold 3em tahoma;text-transform:uppercase}
.msg.big .tt2{display:inline-block;margin:3px 0 0 0;font-size:1.5em;text-transform:capitalize}
.msg h6{margin-bottom:5px}
.msg p{margin-top:5px}
.msg p:first-child{margin-top:0}
.msg ol,
.msg ul{margin:5px 0 0 15px}
.msg li:not(:first-child){margin-top:2px;padding-top:2px;border-top:1px dotted #ddd}
/* pointinfo */
.pointinfo td{font:0.95em tahoma;background-color:#fff}
.pointinfo td.minus{color:#cc0000}
/* pagination */
.pagination{margin:15px 0;text-align:center}
.pagination a,
.pagination strong{position:relative;display:inline-block;line-height:normal;margin:0;padding:2px 5px;vertical-align:middle}
.pagination a.prev,
.pagination a.prevEnd,
.pagination a.next,
.pagination a.nextEnd{font-weight:normal;margin:0;white-space:nowrap;background-image:url("../image/arrow.pagination.gif");background-repeat:no-repeat}
.pagination a.prevEnd{padding-left:20px;background-position:left center}
.pagination a.nextEnd{padding-right:20px;background-position:right center}
.pagination .page-move{margin:5px 0}
.pagination .page-move.tp2{display:inline-block;padding:0 5px;border:1px solid #ddd}
.pagination .page-move.tp2 a.prevEnd{float:left;padding-right:10px;border-right:1px solid #ddd}
.pagination .page-move.tp2 a.nextEnd{float:right;padding-left:10px}
/* area-btn, btn */
.area-btn .left{white-space:nowrap}
.area-btn .btn{display:inline-block;white-space:nowrap;margin:0 1px;color:#333}
.area-btn .btn:hover{color:#cc0000}
/* ex */
.adsense{min-height:40px;background-color:#f5f5f5}
.video{position:relative;overflow:hidden;padding-bottom:56.25%;height:0}
.video iframe{position:absolute;top:0;left:0;width:100%;height:100%}
.map{position:relative;overflow:hidden;background:url('../image/logo.googlemaps.png') no-repeat 50%;background-size:100px auto;font-size:0}
.map iframe{width:100%;height:100%}
.skip{position:absolute;top:-40px;left:0;background:#000000;color:white;padding:8px;z-index:100}
.skip:focus{top:0}
/* hidden */
#damso.device-pc .hidden-pc,
#damso.device-mobile .hidden-mobile,
#damso.device-mobile .hidden-m,
#damso.device-mobile .hidden{display:none}
/* horizontal */
@media only screen and (min-width:748px)
{
    .inner.horizontal{max-width:728px}
}
@media only screen and (min-width:990px)
{
    .inner.horizontal{max-width:970px}
}