@charset "utf-8";

/*
	damso framework 3.0 (2021-11-28)
	+ tile class update
	+ dark class update

	Comma-separated CSS Declaration Block
*/

/* common */
html,body{width:100%;height:100%}
/* element */
*{margin:0;padding:0;border:0;border-radius:0;outline:none;background:none}
html,body,table,input,textarea,select,button{text-align:justify;text-size-adjust:none;font-size:12px}
a,button,input{outline:none;text-decoration:none;text-underline-offset:0.2em;-webkit-tap-highlight-color:transparent}
a,button,input[type=submit],
input[type=reset],
input[type=button]{cursor:pointer}
a:hover{text-decoration:none}
img{vertical-align:bottom}
input::placeholder{opacity:0.5}
input[type=search],
input[type=text],
input[type=date],
input[type=tel],
input[type=url],
input[type=email],
input[type=password],
textarea,
select{text-transform:none;vertical-align:middle}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration{display:none}
ul{list-style:disc}
ol{list-style:decimal}
select{display:inline-block;appearance:none;padding:2px 5px 2px 2px;border-radius:0;
	background-image:url('../image/arrow.png');
	background-repeat:no-repeat;
	background-size:auto 18px;
	background-position:98.5% 50%}
form button{text-decoration:none !important}
/* element color */
body{color:#333;background-color:#fff}
a,
button{color:#333}
a:hover, a:hover span,
a.active, a.active span,
button:hover, button:hover span,
button.active, button.active span{color:royalblue}
::selection{background:#f5b2b2;color:#fff;text-shadow:none}
::-moz-selection{background:#f5b2b2;color:#fff;text-shadow:none}
::-webkit-selection{background:#f5b2b2;color:#fff;text-shadow:none}
input[type=search],
input[type=text],
input[type=date],
input[type=tel],
input[type=url],
input[type=email],
input[type=password],
textarea,
select{border:1px solid #ddd}
input[type=search]:focus,
input[type=text]:focus,
input[type=date]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus,
select:focus{border-color:#007aff}
/* element pseudo classes */
.readonly, [readonly]{cursor:no-drop;background-color:#f2f2f2;color:#b3b3b3}
.disabled, [disabled=disabled]{cursor:no-drop;color:#b3b3b3}
/* font */
h1{font-size:1.5em;margin:0;padding:0}
h2{font-size:1.4em;margin:0;padding:0}
h3{font-size:1.3em;margin:0;padding:0}
h4{font-size:1.2em;margin:0;padding:0}
h5{font-size:1.1em;margin:0;padding:0}
h6{font-size:1.0em;margin:0;padding:0}
/* style */
hr{width:100%;height:1px;margin:2em 0;background-color:gray;}
/* close */
button.close{position:absolute;cursor:pointer;top:0;left:initial;right:0;color:darkgray}
button.close:hover{color:gray}
/* box */
header, footer, section, .inner, .box{position:relative;box-sizing:border-box;margin:0;padding:0;zoom:1}
header:after, footer:after, section:after, .inner:after, .box:after{content:"";clear:both;display:block}
/* article + table */
article{line-height:1.5em;text-align:justify}
caption{display:none}
article table{width:100%;border-bottom:1px solid #ddd;border-right:1px solid #ddd;border-spacing:0}
article table a,
article table button{word-wrap:break-word;white-space:pre-wrap;word-break:break-all}
article table td,
article table th{padding:0.5em 0.8em;border-top:1px solid #ddd;border-left:1px solid #ddd;vertical-align:top}
article table th{background:whitesmoke}
article table td{background:white;color:gray}
article table td > :first-child{margin-top:0}
article table td > *{margin-top:0.5em}
article table td ul{margin-left:2em}
article table td ul.tile{margin-left:0.2em}
/* nav */
nav ul{list-style:none}
nav ol{list-style:decimal}
nav li a,
nav li button{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
nav ul.width{display:inline-flex;white-space:nowrap}
nav ul.width li{float:left;margin-left:10px}
nav ul.width li:first-child{margin-left:0}
nav ul.height li{display:block;margin-top:10px}
nav ul.height li:first-child{margin-top:0}
nav ul.height li a,
nav ul.height li button{display:block}
nav ul.width.line li{border-left:1px solid #ddd;padding-left:10px}
nav ul.width.line li:first-child{border:none;padding-left:0}
nav ul.height.line li{border-top:1px solid #ddd;padding-top:10px}
nav ul.height.line li:first-child{border:none;padding-top:0}
nav ul.tile li{width:20%;padding:5px;box-sizing:border-box;float:left}
nav ul.tile li.fix-10,
nav ul.tile.fix-10 li{width:10%}
nav ul.tile li.fix-8,
nav ul.tile.fix-8 li,
nav ul.tile.max-8 li{width:12.8%}
nav ul.tile li.fix-5,
nav ul.tile.fix-5 li,
nav ul.tile.min-4 li,
nav ul.tile.max-5 li{width:20%}
nav ul.tile li.fix-4,
nav ul.tile.fix-4 li,
nav ul.tile.max-4 li{width:25%}
nav ul.tile li.fix-2,
nav ul.tile.fix-2 li,
nav ul.tile.max-2 li{width:50%}
nav ul.tile li.fix-1,
nav ul.tile.fix-1 li,
nav ul.tile.max-1 li{width:100%}
nav ul.tile li a,
nav ul.tile li button{padding:0.5em}
nav ul.tile li.none{padding-right:0}

@media only screen and (max-width:700px)
{
	nav ul.tile li,
	nav ul.tile.min-5 li,
	nav ul.tile.min-4 li,
	nav ul.tile.max-8 li{width:20%}
}
@media only screen and (max-width:600px)
{
	nav ul.tile li,
	nav ul.tile.min-4 li,
	nav ul.tile.max-5 li{width:25%}
}
@media only screen and (max-width:500px)
{
	nav ul.tile li,
	nav ul.tile.max-5 li,
	nav ul.tile.max-4 li{width:50%}
}
@media only screen and (min-resolution:2dppx)
{
    html,body,table,input,textarea,select,button{font-size:13px}
}
